#Container Postgres
DB_USER="postgres"
DB_HOST="postgres"
DB_PORT=5432

DB_DATABASE="mydb" #CHANGE DATABASE NAME IF REQUIRED
DB_PASSWORD= "" #ADD PASSWORD HERE

# ADD ABSOLUTE PATH IF DIRECTORY IS DIFFERENT
# FOR EXAMPLE /C/Users/username/Desktop/directory_name
UPLOADS_DIR=./uploads 
